
<div class="container">
	<header class="jumbotron">
	 	<h1>Welcome to the Harry Potter Database!</h1>
	 	<h3>What would you like to see?
 	</header>
</div>

<div class="container">
	<div class="btn-group btn-group-justified">
		<a class="btn btn-primary" href = "/students">Students</a>
		<a class="btn btn-primary" href = "/classes">Classes</a>
		<a class="btn btn-primary" href = "/houses">Houses</a>
		<a class="btn btn-primary" href = "/professors">Professors</a>
		<a class="btn btn-primary" href = "/enrollment">Enrollment</a>
	</div>
</div>